/*************
*** Header ***
*************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* Userlist */
header userlist {
  display: flex;
  align-items: center;
  position: relative;
  border: 0.1rem solid var(--color-light);
  margin-left: 1rem;
  padding: 0.5rem;
}
header userlist p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
header userlist i:not(:first-child){
  position: absolute;
  right: .76rem;
}
header userlist select {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
}
header userlist i:first-child {
  margin-right: .5rem;
}

/* Contact */
header contact a {
  color: var(--color-light);
}
header contact a:not(:first-child) {
  padding-left: .3rem;
}

/* social media icons */
header social-media-icons i {
  font-size: 3rem;
  padding: 0.3rem;
}

/*****************
*** Sales Item ***
*****************/
salesItem {
  display: flex;
  width: fit-content;
  padding: 1rem;
  border: .05rem solid rgb(225, 225, 225);



  background-color: white;
  
  margin: 1rem;
  
}

salesItem img {
  height: 8rem;
}

salesItem category {
  color: slategrey;
}
